<div class="container">
  <h1 style="display: inline">Post a Job</h1>
  <h2 style="display: inline">Thank you for helping the community!</h2>
  <%= link_to 'Back', listings_path %>
  <%= render 'form' %>
</div>
