<nav role='navigation' class="main-nav" id="main-nav">
  <ul id="main-nav-list">
    <li>{{#link-to 'boards'}}
      <div>Boards<span>Get Busy.</span></div>
    {{/link-to}}</li>
    {{#each board in model}}
      {{#link-to 'boards.show' board}}
        <li>
          <div>{{board.name}}<span>{{board.description}}</span></div>
        </li>
      {{/link-to}}
    {{/each}}
  </ul>
</nav>
{{outlet}}

