
<header class="list_title">
  <span>{{list.title}}</span>
  <span>{{list.description}}</span>
</header>
<div class="add_card">
  <form class="add_card" data-list-id="7">
    <input type="text" class="card_title" name="card[title]" placeholder="Add a card ...">
    <input type="submit" value="Add Card">
  </form>
</div>

{{yield}}

<section class="cards">
  <div>
    <div class="cards ui-sortable">
      {{#each card in cards}}
        {{#card-component card=card lists=lists}}
        {{/card-component}}
      {{/each}}
    </div>
  </div>
</section>

